body * {
    border-color:  transparent !important;
    color:  #888 !important;
    background-color:  transparent !important;
}

html, body, ._2v9s  {
    background-image: url("data:image/gif;base64,R0lGODlhBAAEAKECABERESQkJP///////yH5BAEKAAIALAAAAAAEAAQAAAIFhB6nhlIAOw==") !important;
    background-repeat: repeat !important;
    background-color: #181818 !important;
}

.storyStream, ._4nmh, ._4u3j, ._35aq, ._146a, ._5pxb, ._55wq, ._53_-, ._55ws, ._u42, .jx-result, .jx-typeahead-results, ._56bt, ._52x7, ._vqv, ._5rgt, .popover_flyout, .flyout, #m_newsfeed_stream, ._55wo, ._3iln, .mentions-suggest, #header, ._xy, ._bgx, .acb, .acg, .aclb, .nontouch ._5ui0, input[type=text], .acw, ._5up8, ._5kgn, .tlLinkContainer, .aps, .jewel .flyout .header, .appCenterCategorySelectorButton, .tlBody, #timelineBody, .timelineX, .timeline .feed, .timeline .tlPrelude, .timeline .tlFeedPlaceholder, .touch ._5c9u, .touch ._5ca9, .innerLink, ._5dy4, ._52x3, #m_group_stories_container, .albums, .subpage, ._uwu, ._uww, .scrollAreaBody, .al, .apl, .structuredPublisher, .groupChromeView, ._djv, ._bjg, ._5kgn, ._3f50, ._55wm, ._58f0 {
    background: #202020 !important;
     text-shadow: 0px 0px 2px #000 !important;
     -webkit-transition: background .2s, box-shadow .4s, border-color .2s !important; /* Safari */
    transition: background .2s, box-shadow .4s, border-color .2s !important;
    transition-timing-function: linear !important;
}

.composerLinkText, .fcg {
    color: #d2d2d2 !important;
}

._56bu, ._56bs {
    background: #202020 !important;
}

.touch ._56bu::before, .touch.wp.x1-5 ._56bu::before, .touch.wp.x2 ._56bu::before{
    background-color: #202020 !important;
    text-shadow: 0px 0px 2px #000 !important;
}

/* New feed info*/
._15nz {
   background-color: #121212 !important;
}

._4g33, ._4g34 ._1svy {
    box-shadow:  none !important;
    background: none !important;
    border: none !important;
}

._15ny::after {
    border: none !important;
}

/* load spinner */
._50cg._2ss {
    box-shadow:   none !important;
    background:  none !important;
    border:  none !important;
}

/* comments */
._5c4t ._1g06 {
    color: #ccc !important;
}

/* new message dialog */
._52z5 {

}

/* white text */

body, .touch ._2ya3, ._4qas, ._4qau, .composerTextSelected, .composerInput, .mentions-input, input[type=text], ._5001, .timeline .cover .profileName, .appListTitle, ._52jd, ._52jb, ._52jg, ._5qc3, .tlActorText, .tlLinkTitle, ._5379, ._5cqn, ._592p, ._3c9l, ._4yrh, .name, .btn, .upText, .tlLinkTitleOnly, ._5rgt, ._52x2, ._52jh, ._52ja, ._56bz, ._2tbu, ._1mwn, ._55sr, ._5t6r, ._1_oe, ._52lz, ._2l5v, .inputtext, .inputpassword, .touch, .touch tr, .touch input, .touch textarea, .touch .mfsm {
    color: #d2d2d2 !important;
}
.touch ._2ya3 {
    border-radius: 5px;
    padding: 5px;
}

/* blue link text */

a, .actor, .mfsl, .fcw, .title, .blueName, ._5aw4, ._vqv, ._5yll, ._5qc3, ._52lz, ._4nwe, ._27vp, ._ir4, ._5wsv, ._46pa {
    color: #DFEFF0 !important;
}

/* dark important */

.acy, .nontouch ._55mb .actor-link, .nontouch a.btnD, .inlineMedia.storyAttachment {
    background: #304702 !important;
}
.statusBox, ._5whq, ._56bt, .composerInput, .mentions-input,  ._bji {
    background: #323232 !important;
}
.ufiBorder, ._5as0, ._5ef_, ._35aq {
    border-color: #555 !important;
}

/* buttons */

.button>a.touchable, .btn, .touch ._5c9u, ._2l5v, ._52x1, ._tn0, ._52ja, ._5lm6 {
    background: #323232 !important;
}
.flyout {
    border: 1px solid #000 !important;
}

/* context menu */

._5c0e, ._5bn_ {
    background: #4e4e4e !important;
}
article, ._4o50, ._3wjp, ._usq, ._55wq, ._400s {
    border: 1px dotted #383838 !important;
    border-radius: 4px;
}
.messages-flyout-item, .more, ._4ut2, ._52we {
    border-top: 1px dotted #383838 !important;
}
._53_- {
    border-bottom: 1px dotted #383838 !important;
}
._1_oa, ._bmx, ._52x1 {
    border-bottom: 1px dotted #383838 !important;
}
article h3 {
    color: #999 !important;
}
._4756, ._4qax {
    background-color: #1F1F1F !important;
}

/* no border */

.aclb, ._53_-, ._52x6, ._52x1, ._2l5v, ._tn0, ._52ja, ._5lm6 {
    border-top: 0px;
    border-bottom: 0px;
}
._59te.popoverOpen, ._59te.isActivem, ._59te {
    background: #000000;
    border-bottom: 1px solid #424242;
    border-right: 1px solid #424242;
}
._2lut {
    border: 1px dotted #e9eaed !important;
}

/* badges */

._59tg {
    background:#da2929 !important;
    color:#ffffff !important;
}

/* new messages */

.chatHighlight{
    -webkit-animation-duration:0s;
}

/* unread */

.aclb {
    background: #323232 !important;
}
